*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.ball {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: red;
  text-align: center;
  align-items: center;
  position: absolute;
  z-index: 1000;
  right: 500px;
  top: 400px;
}

.container {
  width: 1000px;
  height: 500px;
  margin: 100px auto;
  background-color: rgb(77, 168, 77);
  border-radius: 10px;
}

.wrap {
  display: flex;
  justify-content: space-between;
}

.left-zone {
  position: relative;
  top: 100px;
  height: 300px;
  width: 150px;
  background-color: rgb(193, 229, 190);
}

.round {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgb(77, 168, 77);
  position: relative;
  top: 150px;
  border: 10px solid rgb(193, 229, 190);
}

.round::after {
  content: '';
  position: absolute;
  height: 500px;
  width: 10px;
  background-color: rgb(193, 229, 190);
  left: 47%;
  top: -160px;
}

.round::before {
  content: '';
  position: absolute;
  height: 35px;
  width: 35px;
  background-color: rgb(193, 229, 190);
  border-radius: 50%;
  top: 40%;
  left: 39%;
}

.right-zone {
  position: relative;
  top: 100px;
  right: 0;
  height: 300px;
  width: 150px;
  background-color: rgb(193, 229, 190);
}